#sketch-holder {
    display: flex;
    display: -webkit-flex;
    display: -ms-flex;
    display: -moz-flex;
    justify-content:center;
    align-items: center;
    padding-left:  0em;
    padding-right: 0em;
    margin-bottom: 50px;
}

html {
    height: 100%;
}

body {
    font-family: 'Arial', 'Helvetica', sans-serif;
    padding-right: 7%;
    padding-left: 7%;
    margin-left: 8em;
    margin-right: 8em;

}

.crop {
        height: 1000px;
        overflow: hidden;
    }

.crop img {
        height: 1000px;
        margin: -75px 0 0 -100px;
    }

.space {
    margin-top: 10em;
    margin-bottom: 20em;
}

.space2 {
    margin-top: 5em;
    margin-bottom: 5em;
}

p {
    color: black;
    text-decoration: none;
    font-size: 19px;

}

a {
    text-decoration: none;
    font-weight: bold;
    padding-right: 8px;
    color: rgb(26,129,161,1);
}

a:hover {
    color: rgb(26,129,161,0.5);
}

.column {
  float: left;
  width: 50%;
  padding: 10px;
}

.row:after {
  display: table;
  clear: both;
}

.row {
    display: -webkit-flex;
    display: -ms-flex;
    display: -moz-flex;
}

.row2 {
    display: -webkit-flex;
    display: -ms-flex;
    display: -moz-flex;
}

.row2:after {
  display: table;
  clear: both;
}

.main-section {
    background-color: rgba(0,0,0,0);
    padding: 1em;
}

.title {
    padding: .7em;
}

.title2 {
    padding: 1.2em;
}

.center {
    padding-left: 1.5em;
    padding-right: 1.5em;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 90%;
    justify-content: center;
    align-items: center;
}

img:hover {
    opacity: 0.8;
    transition-duration: 0.3s;
    -webkit-transition-duration: 0.3s;
    -ms-transition-duration: 0.3s;
    -moz-transition-duration: 0.3s;
}

object {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

object:hover {
    opacity: 0.8;
    transition-duration: 0.3s;
    -webkit-transition-duration: 0.3s;
    -ms-transition-duration: 0.3s;
    -moz-transition-duration: 0.3s;
}

.name {
    margin-bottom: -.4em;
    color: rgb(26,129,161);
}

.name2 {
    margin-bottom:;
}

.content {
    padding-top: 150px;
    padding-left: 50%;
    display: block;
}

.social:hover, .social:focus {
    -webkit-transition-duration: 0.1s;
    transition-duration: : 0.1s;
    color: rgb(26,129,161,0.5);
}

.social {
    transition-duration: 0.1s;
    -webkit-transition-duration: 0.1s;
    color: black;
    padding-top: 4px;
    text-decoration: none;
    padding-right: 1em;
    padding-bottom: 2em;

}

.art {
    width: 100%;
}

ul {
    list-style-type: none;
    margin-top: 8px;
    margin-bottom: 8px;
    padding: 0;
}

li {
  display: inline;
}

.threeD {
    max-width: 600px;
    }

@media screen and (max-width: 1300px) {

    #sketch-holder {
        display: flex;
        display: -webkit-flex;
        display: -ms-flex;
        display: -moz-flex;
        justify-content:center;
        align-items: center;
        padding-left:  0em;
        padding-right: 0em;
        margin-bottom: 0px;
    }

    body {
        margin-left: 0em;
        margin-right: 0em;
        padding-right: 2%;
        padding-left: 2%;
    }

    .column {
          float: none;
          width: 100%;
          padding: auto;
          justify-content: center;
          align-items: center;
    }

    .row {
        display: block;
        justify-content: center;
        align-items: center;
    }

    .row2 {
        display: block;
        justify-content: center;
        align-items: center;
    }

    .threeD {
        padding-left: 10em;
        padding-right: 10em;
    }

    .main-section {
        max-width: 100%;
        margin: auto;
        padding: 0em;
    }

    .content {
        padding-left: 0%;
    }

    .space {
        margin-top: 5em;
        margin-bottom: 5em;
    }
}
